.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

.fa {
    color: white;
}

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

.pelicula{
    color:white;
}

.tagline{
    font-style: italic;
    color: grey;
    clear: both;
}

.score{
    display: flex;
    float: right;
    
}

.desplegable{
    color: black;
    margin-left: 10px;
    float: left;
}

.desplegable-descripcion{
    color: black;
    margin-left: 10px;
}

/*.generos{
    display: flex; 
  
}*/


.offcanvas-body {
    overflow: visible;
}


.more{
    float: right;
}

.titulo{
    background-color: #212529;
    color: white;
    float: left;
    
}

hr{
    color: black;
}







/* body{
    color: #fff;
}

h4{
    display: inline;
}

#star{
    display: inline;
    position:absolute;
    right: 0px;
    top:5px;
}

li{
    position: relative;
    list-style: none;
    border: 2px solid #1e2125;
}

#offcanvasTopLabel{
    color: #1e2125;
} */